* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fd0000;
  --font-family-primary: Bai Jamjuree, sans-serif;
  --font-family-secondary: Barlow, sans-serif;
}


header {
  min-height: 70px;
  display: flex;
}

header .mm93 {
  display: flex;
  align-items: center;
  background-color: white;
  transform: skew(-21deg);
  position: relative;
  left:20px;
}

.mm93 img{
    transform: skew(21deg);
}

header .hamb {
  width: 161px;
  height: auto;
  background-color: var(--primary-color);
  transform: skew(-21deg);
  transform-origin: right top;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamb i {
  font-size: 40px;
  transform: skew(21deg);
  color: white;
}
.hamb i:hover{
    color: black;
    transition: color 300ms;
}

header .mm93 {
  width: 644px;
  height: auto;
}

header .mm93 img {
  height: 50px;
  width: 200px;
  display: flex;

}

header .user {
  width: 635px;
  height: auto;
  display: flex;
  background-color: rgb(19, 18, 18);
}

nav ul {
  list-style: none;
  color: white;
  width: 100%;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
  font-size: 18px;
  transform: skew(-21deg);
}

nav ul li:nth-child(5) {
    transform: skew(0);
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

nav ul li:nth-child(3) {
  font-size: 20px;
  transform: skew(0);
}

nav ul li:nth-child(2) {
    transform: skew(0);
}

nav ul li:nth-child(1) {
    transform: skew(0);  
}


li .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 0 10px;
}

li .fa-regular{
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: white;
}

.hov:hover{
    color: var(--primary-color);
    transition: color 300ms;
}

.store:hover{
    background: #BB0600;
    transform:skew(0);
    transition: transform 1s;
}


nav .store {
  background-color: var(--primary-color);
  width: 235px;
  font-family: var(--font-family-primary);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background img {
  background-position: center;
  width: 100%;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}

.slider{
    height: 302px;
    overflow: scroll;
    margin-bottom: 20px;
}

.slider ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}

.slidebar{
    height: 300px;
    width: 300px;
    margin-right: 80px;
}

.slidebar img{
    height: 300px;
    width: 300px;
    filter: invert(0);
    border-top-right-radius: 60px;
}

.slidebar img:hover{
    border: 2px solid var(--primary-color);
    filter: grayscale(60%);
}

.txt{
    font-size: 30px;
    font-family: var(--font-family-primary);
    color: var(--primary-color);
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.txt2{
    font-size: 40px;
    font-family: var(--font-family-primary);
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold; 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-right: 20px;
    gap: -80;
}
 .slidebar p{
    position: relative;
    left: 100px;
    font-size: 25px;
    font-family: var(--font-family-primary);
    font-weight: bold;
    background-color: red;
    width:200px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    bottom:60px;
    opacity: 80%;
    padding-right: 5px;
    border-radius: 5px 0 0 0;
 }
