* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fd0000;
  --font-family-primary: Bai Jamjuree, sans-serif;
  --font-family-secondary: Barlow, sans-serif;
}


header {
  min-height: 70px;
  display: flex;
}

header .mm93 {
  display: flex;
  align-items: center;
  background-color: white;
  transform: skew(-21deg);
  position: relative;
  left:20px;
}

.mm93 img{
    transform: skew(21deg);
}

header .hamb {
  width: 161px;
  height: auto;
  background-color: var(--primary-color);
  transform: skew(-21deg);
  transform-origin: right top;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamb img {
  filter: invert(100%);
  transform: skew(21deg);
}

header .mm93 {
  width: 644px;
  height: auto;
}

header .mm93 img {
  height: 50px;
  width: 200px;
  display: flex;

}

header .user {
  width: 635px;
  height: auto;
  display: flex;
  background-color: black;
}

nav ul {
  list-style: none;
  color: white;
  width: 100%;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
  font-size: 18px;
  transform: skew(-21deg);
}

nav ul li:nth-child(5) {
    transform: skew(0);
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

nav ul li:nth-child(3) {
  font-size: 20px;
  transform: skew(0);
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

nav ul li:nth-child(2) {
    transform: skew(0);
    border-left: 2px solid gray;
}

nav ul li:nth-child(1) {
    transform: skew(0);
      border-left: 2px solid gray;
}


li img {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(100%);
}

li a{
    text-decoration: none;
    color: white;
}

nav .store {
  background-color: var(--primary-color);
  width: 235px;
  font-family: var(--font-family-primary);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background img {
  background-position: center;
  width: 100%;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}


